*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.header {
    display: flex;
    padding: 24px 166px;
    justify-content: space-between;
}
.header h3 {
    font-style: bold;
    line-height: 45px;
    font-size: 36px;
    color: #13183F;
}
.header p {
    padding: 14px 31px;
    background: #13183F;
    border-radius: 28px;
    color: white;
    cursor: pointer;
    transition: all ease-out 0.3s;
    align-items: center;
}
.header p:hover {
    background-color: #666CA3;
}
.imgAvatar {
    position: absolute;
    top: 0;
    right: 0;
    width: 600px;
    z-index: -1;
}
.imgAvatarTab {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: -1;    
}
.imgAvatarMob {
    display: none;
    max-width: 100%;
}
.mainContent {
    margin-left: 165px;
    margin-top: 120px;
}
.mainContent h1 {
    margin-bottom: 30px;
    font-size: 56px;
    line-height: 71px;
    color: #13183F;
    font-weight: 800;
    width: 510px;
}
.text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    width: 445px;
}
.button {
    display: inline;
    padding: 19px 31px;
    border-radius: 31px;
    color: white;
    background-image: linear-gradient(#FF6F48, #F02AA6);
    transition: all ease-out 0.3s;
}
.button:hover {
   opacity: 0.5;
   cursor: pointer;
}
.mainBoxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 250px 165px 140px 165px;
}
.mainBoxes div {
    margin-bottom: 80px;
}
.gradientBox {
    display: inline-block;
    padding: 64px 0 0 32px;
    width: 350px;
    height: 322px;
    border-radius: 15px;
    background-image: linear-gradient(#FF6F48, #F02AA6);
}
.gradientBox p{
    color: white;
    font-size: 32px;
}
.box {
    position: relative;
    padding: 64px 32px 40px 32px;
    border: 1px solid red;
    box-shadow: 0 25px 50px 0px #06168D0B;
    border-radius: 15px;
}
.box img {
    position: absolute;
    top: -30px;
}
.box h4 {
    color: #13183F;
    font-size: 24px;
    line-height: 30px;
}
.boxText {
    margin: 24px 0;
    width: 286px;
    color: #83869A;
    font-size: 18px;
    line-height: 28px;
}
.startButon {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    transition: all ease-out 0.3s;
}
.startButon:hover {
    color: #FFA7C3;
    cursor: pointer;
}
.footerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 166px;
    background: #13183F;
    color: white;
}
.footerContainer h3 {
    font-style: bold;
    line-height: 45px;
    font-size: 36px;
}
.footerContainer p {
    padding: 14px 32px;
    background-image: linear-gradient(#4851FF, #F02AA6);
    border-radius: 28px;
    transition: all ease-out 0.3s;
}
.footerContainer p:hover {
    cursor: pointer;
    opacity: 0.5;
}
@media (max-width: 1440px) {
.header {
    display: flex;
    padding: 24px 39px;
    justify-content: space-between;
}
.imgAvatar {
    display: none;        
}
.imgAvatarTab {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    z-index: -1;
}
.gradientBox {
    width: 340px;
}
.mainBoxes div {
    margin-bottom: 56px;
    width: 340px;
}
.mainContent {
    margin-left: 39px;
    margin-top: 105px;
}
.mainContent h1 {
    margin-bottom: 25px;
    font-size: 40px;
    line-height: 50px;
    color: #13183F;
    font-weight: 800;
}
.text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    width: 400px;
}
.mainBoxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 250px 39px 86px 39px;
}
.footerContainer {
    padding: 32px 39px;
}
}
@media (max-width: 768px) {
.header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}
.mobilePosition {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.text {
    width: 286px;
}
.mainContent h1 {
    width: 100%;
}
.imgAvatarTab {
    display: none;
}
.imgAvatarMob {
    display: block;
    max-width: 100%;
}
.mainBoxes div {max-width: 100%;
    margin: auto;
    margin-bottom: 40px;
}
.mainBoxes {
    display: block;
    margin: 65px 16px 6px 16px;
}
.gradientBox p {
    font-size: 24px;
}
.box img {
    position: absolute;
    top: -30px;
    left: 30px;
}
.gradientBox {
    display: flex;
    height: 120px;
    padding: 24px;
}
.box h4 {
    font-size: 20px;
}
.boxText {
    font-size: 16px;
    width: 250px;
}
.footerContainer {
    padding: 36px 16px;
}
}